workflows/BreaksRecovery_8.ErrorHandler.json
{
  "name": "BreaksRecovery_8.ErrorHandler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "cc910716-69e5-4cb7-855b-0302a7b76808",
      "name": "When Executed by Another Workflow",
      "notes": "Ручной вызов из Main/Balance (ADR-005).\nОжидаемые поля:\n- success: false\n- error_type: Business Error | System Error\n- error_message: текст\n- workflow_id, workflow_name (опционально)\n- error_code (опционально, BE1/SE1…)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "5bb51755-16ea-4f65-bb9a-c42e5781d2c7",
      "name": "Error Trigger",
      "notes": "Авто-триггер при необработанной ошибке в Main/Balance.\nВ Settings родительского воркфлоу: Error Workflow = этот воркфлоу."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet error_type = item.error_type;\nlet error_message = item.error_message;\nlet workflow_id = item.workflow_id;\nlet workflow_name = item.workflow_name;\nlet error_code = item.error_code;\n\nif (item.execution?.error) {\n  error_type = error_type || 'System Error';\n  error_message =\n    item.execution.error.message ||\n    item.execution.error.description ||\n    String(item.execution.error);\n  workflow_id = item.workflow?.id || workflow_id;\n  workflow_name = item.workflow?.name || workflow_name;\n  error_code = error_code || 'SE?';\n}\n\nif (!error_type) {\n  error_type = 'System Error';\n}\n\nif (!error_message) {\n  error_message = 'Unknown error (no message provided)';\n}\n\nif (!error_code) {\n  error_code = error_type === 'Business Error' ? 'BE?' : 'SE?';\n}\n\nreturn [\n  {\n    json: {\n      success: false,\n      error_type,\n      error_message,\n      error_code,\n      workflow_id: workflow_id || $workflow.id,\n      workflow_name: workflow_name || 'BreaksRecovery',\n      timestamp: new Date().toISOString(),\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        128
      ],
      "id": "ec6e56fc-4f55-4c52-9db1-bdbae99f4117",
      "name": "Normalize Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lfDAKthcbXeSwPSX",
          "mode": "list",
          "cachedResultUrl": "/workflow/lfDAKthcbXeSwPSX",
          "cachedResultName": "BreaksRecovery_2.GetConfig"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        128
      ],
      "id": "81a42d15-5add-4915-9550-a1aac702c584",
      "name": "Execute GetConfig",
      "notes": "Повторное чтение конфига — проблема могла быть выше (ADR-005)."
    },
    {
      "parameters": {
        "jsCode": "const err = $('Normalize Error').first().json;\nconst config = $input.first().json;\n\nfunction maskPii(text) {\n  let s = String(text ?? '');\n  s = s.replace(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/g, '***@***');\n  s = s.replace(/(login|агент|agent)[\\s:]+[\\w.-]+/gi, '$1: ***');\n  return s;\n}\n\nconst isBusiness = err.error_type === 'Business Error';\nconst channel = isBusiness\n  ? config.MMCBotAlertChannel\n  : config.MMCBotProdNotificationsChannel;\n\nconst robotName = config.robotName || 'BreaksRecovery';\nconst wf = err.workflow_name || 'BreaksRecovery';\nconst ts = err.timestamp;\nconst statusLabel = isBusiness ? 'Business Error' : 'Error';\nconst safeMessage = maskPii(err.error_message);\n\nconst notify_message = [\n  `Название робота: ${robotName}`,\n  `Процесс: ${wf}`,\n  `Время запуска: ${ts}`,\n  `Статус: ${statusLabel}`,\n  `Тип: ${err.error_code}`,\n  `Описание: ${safeMessage}`,\n].join('; ');\n\nreturn [\n  {\n    json: {\n      ...err,\n      error_message_safe: safeMessage,\n      robotName,\n      environment: config.environment,\n      DBSchemaName: config.DBSchemaName,\n      DBTableNameRecoveryTransactions: config.DBTableNameRecoveryTransactions,\n      MattermostAPIURL: config.MattermostAPIURL,\n      Mattermost1CChannelBaseURL: config.Mattermost1CChannelBaseURL,\n      notify_channel: channel,\n      notify_message,\n      processing_status: 'failed',\n      needs_email_fallback: !isBusiness,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        128
      ],
      "id": "c042a003-5f99-44be-b330-173a3743ae66",
      "name": "Enrich With Config"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE {{ $json.DBSchemaName }}.{{ $json.DBTableNameRecoveryTransactions }} SET processing_status = 'failed', processing_end_time = NOW(), processing_comment = $1, error_code = $2 WHERE processing_status = 'in_progress' OR (processing_end_time IS NULL AND processing_status NOT IN ('success', 'failed', 'skipped_BE2', 'skipped_BE3')); SELECT 1 AS error_status_updated;",
        "options": {
          "queryReplacement": "={{ $json.error_message_safe }},{{ $json.error_code }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        128
      ],
      "id": "26b31bee-8480-4469-939f-4a1baf0f3d1e",
      "name": "Set ERROR Status",
      "credentials": {
        "postgres": {
          "id": "eNK5wIS7Kw9Ah8Lf",
          "name": "RPA DB"
        }
      },
      "continueOnFail": true,
      "notes": "Credential: RPA DB ONLY.\nОбновляет in_progress / незавершённые транзакции.\nСбой -> SE1 (не блокирует нотификацию — Continue On Fail при необходимости)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Enrich With Config').first().json.Mattermost1CChannelBaseURL }}/{{ $('Enrich With Config').first().json.notify_channel }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Enrich With Config').first().json.notify_message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        128
      ],
      "id": "f1f37b26-70f6-4889-bfee-8f01b2430148",
      "name": "Send MM Notification",
      "continueOnFail": true,
      "notes": "1C Bot API: channel name в path URL (не channel_id MM API).\nBE -> MMCBotAlertChannel, SE -> MMCBotProdNotificationsChannel.\nContinue On Fail до настройки prod."
    },
    {
      "parameters": {
        "jsCode": "const err = $('Enrich With Config').first().json;\n\nreturn [\n  {\n    json: {\n      success: false,\n      error_type: err.error_type,\n      error_message: err.error_message,\n      error_code: err.error_code,\n      workflow_name: err.workflow_name,\n      handler_completed: true,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        128
      ],
      "id": "b04cdfad-c7c6-4abe-a06a-4ece06f87e8b",
      "name": "Return Error Result"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Normalize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Error": {
      "main": [
        [
          {
            "node": "Execute GetConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute GetConfig": {
      "main": [
        [
          {
            "node": "Enrich With Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich With Config": {
      "main": [
        [
          {
            "node": "Set ERROR Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ERROR Status": {
      "main": [
        [
          {
            "node": "Send MM Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send MM Notification": {
      "main": [
        [
          {
            "node": "Return Error Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "095c2683-eb84-4f4b-8961-ef0a7a075bbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c405c9c7bf2ec4f35dcb9179c9810707580e82751735da064523f04a0f1dd025"
  },
  "id": "ge4g0yigf0Ykn65R",
  "tags": []
}