workflows/BreaksRecovery_Main.json
{
  "name": "BreaksRecovery_Main",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2000, 0],
      "id": "m1000000-0000-0000-0000-000000000001",
      "name": "Cron 05:00 MSK",
      "notes": "0 2 * * * UTC = 05:00 Europe/Moscow (ТЗ §2.6).\nДолжен совпадать с GetConfig.CronSchedule.\nНа ОПЭ: 0 10 * * * UTC = 13:00 МСК."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GetConfig",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-1720, 0],
      "id": "m1000000-0000-0000-0000-000000000002",
      "name": "Execute GetConfig",
      "notes": "Phase 1 INIT. ADR-004: JSON-конфиг + Validate (не rpa_config из БД)."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "InitTables",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-1440, 0],
      "id": "m1000000-0000-0000-0000-000000000003",
      "name": "Execute InitTables",
      "notes": "Phase 1 INIT. TDR §6.3: idempotent CREATE SCHEMA/TABLE."
    },
    {
      "parameters": {
        "jsCode": "const config = $('Execute GetConfig').first().json;\nreturn [{ json: config }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1160, 0],
      "id": "m1000000-0000-0000-0000-000000000004",
      "name": "Restore Config Context",
      "notes": "После InitTables возвращаем config в $json для downstream-нод."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LoadMappings",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-880, 0],
      "id": "m1000000-0000-0000-0000-000000000025",
      "name": "Execute LoadMappings",
      "notes": "TDR v3 §6.5: загрузка mappings/*.json из git (HTTP). Требует GitRawBaseURL в GetConfig."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.agent_login\nFROM n8n_breaks_recovery.agents a\nINNER JOIN n8n_breaks_recovery.recovery_transactions t ON t.agent_id = a.id\nWHERE t.shift_date = ((NOW() AT TIME ZONE 'Europe/Moscow')::date + 1)\n  AND t.processing_status IN ('success', 'skipped_BE2', 'skipped_BE3');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-600, 0],
      "id": "m1000000-0000-0000-0000-000000000020",
      "name": "Get Processed Agents",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_RPA_DB_CREDENTIAL_ID",
          "name": "RPA DB"
        }
      },
      "notes": "ТЗ §4.5 шаг 3: пропуск финализированных на D+1 (success, skipped_BE2/BE3).\nfailed/in_progress — повторная обработка в тот же день.\nCredential: RPA DB.\nalwaysOutputData: при 0 строк передаёт пустой item дальше."
    },
    {
      "parameters": {
        "jsCode": "const config = $('Execute LoadMappings').first().json;\nconst processedLogins = $('Get Processed Agents')\n  .all()\n  .map((item) => item.json.agent_login)\n  .filter(Boolean);\n\nreturn [\n  {\n    json: {\n      ...config,\n      processed_agents: processedLogins,\n      processed_agents_count: processedLogins.length,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 0],
      "id": "m1000000-0000-0000-0000-000000000024",
      "name": "Continue Phase 2",
      "notes": "Якорь потока после Get Processed Agents: 0 обработанных на D+1 — норма, Phase 2 идёт дальше."
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Continue Phase 2').first().json;\nconst fteGroups = ctx.mappings?.fte_groups || [];\nconst newsSkills = ctx.mappings?.news_exception_skills || [];\n\nconst skills = [\n  ...new Set([\n    ...fteGroups.map((row) => row.skill_name),\n    ...newsSkills.map((row) => row.skill_name),\n  ]),\n].filter(Boolean);\n\nif (skills.length === 0) {\n  throw new Error('System Error: support skills list is empty (mappings/fte_groups.json)');\n}\n\nreturn skills.map((skill_name) => ({ json: { skill_name } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 0],
      "id": "m1000000-0000-0000-0000-000000000022",
      "name": "Extract Support Skills",
      "notes": "WF1-00: навыки из mappings/fte_groups.json + news_exception_skills.json (TDR v3 §6.5)."
    },
    {
      "parameters": {
        "jsCode": "const skills = [\n  ...new Set(\n    $('Extract Support Skills')\n      .all()\n      .map((item) => item.json.skill_name)\n      .filter(Boolean),\n  ),\n];\n\nif (skills.length === 0) {\n  throw new Error('System Error: support skills list is empty (mappings/fte_groups.json)');\n}\n\nconst values = skills\n  .map((name) => `('${String(name).replace(/'/g, \"''\")}')`)\n  .join(',\\n    ');\n\nconst query = `WITH params AS (\n  SELECT\n    (NOW() AT TIME ZONE 'Europe/Moscow')::date AS run_date,\n    ((NOW() AT TIME ZONE 'Europe/Moscow')::date + 1) AS shift_date\n),\nsupport_skills(skill_name) AS (\n  VALUES\n    ${values}\n),\nactivities_msk AS (\n  SELECT\n    u.login AS agent_login,\n    (usa.start AT TIME ZONE 'UTC' + INTERVAL '3 hours')::date AS start_msk_date,\n    (usa.end AT TIME ZONE 'UTC' + INTERVAL '3 hours')::date AS end_msk_date\n  FROM user_schedule_activity usa\n  INNER JOIN \"user\" u ON u.id = usa.user_id\n  WHERE usa.start IS NOT NULL\n    AND usa.end IS NOT NULL\n    AND EXISTS (\n      SELECT 1\n      FROM user_skill_mapping usm\n      INNER JOIN skill sk ON sk.id = usm.skill_id\n      INNER JOIN support_skills ss ON ss.skill_name = sk.name\n      WHERE usm.user_id = u.id\n    )\n)\nSELECT\n  am.agent_login,\n  to_char(p.shift_date, 'YYYY-MM-DD') AS shift_date,\n  BOOL_OR(am.start_msk_date = p.run_date AND am.end_msk_date >= p.shift_date) AS is_night_shift\nFROM activities_msk am\nCROSS JOIN params p\nWHERE am.start_msk_date = p.shift_date\n   OR am.end_msk_date = p.shift_date\n   OR (am.start_msk_date < p.shift_date AND am.end_msk_date > p.shift_date)\nGROUP BY am.agent_login, p.shift_date, p.run_date\nORDER BY am.agent_login;`;\n\nreturn [{ json: { query, support_skills_count: skills.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 0],
      "id": "m1000000-0000-0000-0000-000000000023",
      "name": "Build WF1 Query",
      "notes": "Собирает WF1-01 с фильтром навыков из mappings/fte_groups.json."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Build WF1 Query').first().json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [600, 0],
      "id": "m1000000-0000-0000-0000-000000000005",
      "name": "Get Agents D+1",
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_WFM_DB_CREDENTIAL_ID",
          "name": "WFM DB"
        }
      },
      "notes": "ТЗ §4.5 шаг 3 / TDR §7.1 оп.1. WFM DB read-only. WF1-01 + фильтр fte_groups.json. Сбой -> BE1."
    },
    {
      "parameters": {
        "jsCode": "const processed = new Set(\n  $('Continue Phase 2').first().json.processed_agents || [],\n);\n\nreturn $input\n  .all()\n  .filter((item) => item.json.agent_login && !processed.has(item.json.agent_login))\n  .map((item) => ({ json: item.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 0],
      "id": "m1000000-0000-0000-0000-000000000021",
      "name": "Filter New Agents",
      "notes": "ТЗ §4.5 шаг 3: исключить обработанных на D+1.\nprocessed_agents — снимок из Continue Phase 2 (тот же execution). Агенты — $input от Get Agents D+1."
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [920, 300],
      "id": "m1000000-0000-0000-0000-000000000006",
      "name": "Process Each Agent",
      "notes": "Phase 3 PROCESS. ТЗ §4.5 шаг 7: транзакция = 1 агент."
    },
    {
      "parameters": {
        "jsCode": "// ТЗ §4.5 шаг 8: тип контейнера (mappings/container.json / 9hrs / 12hrs)\n// BE2 если не распознан\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "m1000000-0000-0000-0000-000000000007",
      "name": "Determine Container Rules",
      "notes": "Шаг 8."
    },
    {
      "parameters": {
        "jsCode": "// ТЗ §4.5 шаг 9: минуты новостей (mappings/news_reading.json + news_exception_skills.json)\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1480, 300],
      "id": "m1000000-0000-0000-0000-000000000008",
      "name": "Calculate News Duration",
      "notes": "Шаг 9."
    },
    {
      "parameters": {
        "jsCode": "// ТЗ §4.5 шаг 10: положенное vs факт (mappings/activity.json)\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300],
      "id": "m1000000-0000-0000-0000-000000000009",
      "name": "Find Missing Activities",
      "notes": "Шаг 10."
    },
    {
      "parameters": {
        "jsCode": "// ТЗ §4.5 шаг 11: подбор слотов; нет слота -> error_code = BE3\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 300],
      "id": "m1000000-0000-0000-0000-000000000010",
      "name": "Calculate Slots",
      "notes": "Шаг 11."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-be",
              "leftValue": "={{ $json.error_code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2320, 300],
      "id": "m1000000-0000-0000-0000-000000000011",
      "name": "BE2/BE3 Check",
      "notes": "true (error_code) -> skipped; false -> Add to Batch."
    },
    {
      "parameters": {
        "jsCode": "// ТЗ §4.5 шаг 12: строки пакета загрузки (TDR §7.2 JSON)\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 520],
      "id": "m1000000-0000-0000-0000-000000000012",
      "name": "Add to Batch",
      "notes": "Шаг 12."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upsert_agent AS (\n  INSERT INTO n8n_breaks_recovery.agents (agent_login)\n  VALUES ($1)\n  ON CONFLICT (agent_login) DO NOTHING\n  RETURNING id\n),\nagent_row AS (\n  SELECT id FROM upsert_agent\n  UNION ALL\n  SELECT id FROM n8n_breaks_recovery.agents WHERE agent_login = $1\n  LIMIT 1\n)\nINSERT INTO n8n_breaks_recovery.recovery_transactions (\n  processing_start_time,\n  processing_end_time,\n  processing_status,\n  processing_comment,\n  agent_id,\n  shift_date,\n  is_night_shift,\n  error_code\n)\nSELECT\n  NOW(),\n  CASE WHEN NULLIF($4, '') IS NOT NULL THEN NOW() ELSE NULL END,\n  CASE\n    WHEN NULLIF($4, '') IS NULL THEN 'in_progress'\n    WHEN $4 = 'BE2' THEN 'skipped_BE2'\n    WHEN $4 = 'BE3' THEN 'skipped_BE3'\n    ELSE 'failed'\n  END,\n  NULLIF($5, ''),\n  (SELECT id FROM agent_row),\n  $2::date,\n  $3::boolean,\n  NULLIF($4, '')\nON CONFLICT (agent_id, shift_date) DO UPDATE SET\n  processing_status = EXCLUDED.processing_status,\n  processing_end_time = EXCLUDED.processing_end_time,\n  processing_comment = COALESCE(EXCLUDED.processing_comment, recovery_transactions.processing_comment),\n  error_code = COALESCE(EXCLUDED.error_code, recovery_transactions.error_code),\n  is_night_shift = EXCLUDED.is_night_shift\nRETURNING id AS transaction_id, agent_id, processing_status;",
        "options": {
          "queryReplacement": "={{ $json.agent_login }},{{ $json.shift_date }},{{ $json.is_night_shift }},{{ $json.error_code || '' }},{{ $json.processing_comment || '' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2600, 300],
      "id": "m1000000-0000-0000-0000-000000000013",
      "name": "Write Transaction",
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_RPA_DB_CREDENTIAL_ID",
          "name": "RPA DB"
        }
      },
      "notes": "Credential: RPA DB ONLY (TDR §7.3). ADR-006: INSERT agents ON CONFLICT + recovery_transactions (agent_id). Параметризованный SQL. Сбой -> SE1."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Restore Config Context').first().json.WFMSBaseURL }}/login",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1240, 0],
      "id": "m1000000-0000-0000-0000-000000000014",
      "name": "Auth WFMS",
      "notes": "ЗАГЛУШКА. TDR §7.2: LDAP + cookie. Ошибка -> BE4. R-08."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Restore Config Context').first().json.WFMSBaseURL }}/upload",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1520, 0],
      "id": "m1000000-0000-0000-0000-000000000015",
      "name": "Upload Batch to WFMS",
      "notes": "ЗАГЛУШКА. TDR §7.2 шаг 3: multipart/upload. Ошибка -> BE4."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Restore Config Context').first().json.WFMSBaseURL }}/publish",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1800, 0],
      "id": "m1000000-0000-0000-0000-000000000016",
      "name": "Publish + Recalc FTE",
      "notes": "ЗАГЛУШКА. TDR §7.2 шаги 4–5. Ошибка -> BE4."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS placeholder;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2080, 0],
      "id": "m1000000-0000-0000-0000-000000000017",
      "name": "Write Upload Status",
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_RPA_DB_CREDENTIAL_ID",
          "name": "RPA DB"
        }
      },
      "notes": "Credential: RPA DB ONLY (TDR §7.3). НЕ WFM DB!\nTODO: UPDATE upload_status. Сбой -> SE1."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Restore Config Context').first().json.MattermostAPIURL }}posts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2360, 0],
      "id": "m1000000-0000-0000-0000-000000000018",
      "name": "Send MM Notification",
      "notes": "ЗАГЛУШКА. ТЗ §4.9. Отправка через 1С Bot API (R-09), не прямой POST."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BreaksRecovery_Balance",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2640, 0],
      "id": "m1000000-0000-0000-0000-000000000019",
      "name": "Trigger WF-2",
      "notes": "ТЗ §4.5 / ADR-001: Execute Workflow после завершения WF-1."
    },
    {
      "parameters": {
        "content": "## BreaksRecovery_Main\n\nReframework WF-1 · **Error Workflow:** ErrorHandler\n\nТЗ §4.5 · TDR §3, §7",
        "height": 160,
        "width": 320,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-2060, -640],
      "id": "s1000000-0000-0000-0000-000000000001",
      "name": "Note — Overview"
    },
    {
      "parameters": {
        "content": "## PHASE 1 — INIT\n\nТЗ §4.5 шаги 1–2 · TDR §6.3, §6.5\n\nCron → GetConfig → InitTables → LoadMappings\n\nCredential: RPA DB (InitTables)",
        "height": 220,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-2080, -380],
      "id": "s1000000-0000-0000-0000-000000000002",
      "name": "Note — Phase 1 INIT"
    },
    {
      "parameters": {
        "content": "## PHASE 2 — GET DATA\n\nТЗ §4.5 шаг 3 · TDR §7.1\n\nGet Processed Agents → Continue Phase 2 → Skills → WF1 Query → Get Agents D+1 → Filter\n\nCredentials: RPA + WFM read-only",
        "height": 220,
        "width": 1520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-580, -380],
      "id": "s1000000-0000-0000-0000-000000000003",
      "name": "Note — Phase 2 GET DATA"
    },
    {
      "parameters": {
        "content": "## PHASE 3 — PROCESS\n\nТЗ §4.5 шаги 7–13 · loop (1 агент = 1 транзакция)\n\nКонтейнер → новости → слоты → BE2/BE3 → Add to Batch → Write Transaction\n\n~ Code-заглушки; TODO SQL WFM шаги 4–6",
        "height": 180,
        "width": 1720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 680],
      "id": "s1000000-0000-0000-0000-000000000004",
      "name": "Note — Phase 3 PROCESS"
    },
    {
      "parameters": {
        "content": "## PHASE 4 — UPLOAD WFMS\n\nТЗ §4.5 шаги 15–18 · TDR §7.2\n\nAuth WFMS → Upload Batch → Publish + Recalc FTE → Write Upload Status\n\nВыход loop **done** (0). ~ HTTP-заглушки",
        "height": 220,
        "width": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1220, -380],
      "id": "s1000000-0000-0000-0000-000000000005",
      "name": "Note — Phase 4 UPLOAD"
    },
    {
      "parameters": {
        "content": "## PHASE 5 — FINISH\n\nТЗ §4.5 шаги 18–20 · §4.9\n\nSend MM Notification → Trigger WF-2 (ADR-001)\n\nMattermost Bot (~ Continue On Fail)",
        "height": 220,
        "width": 340,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2340, -380],
      "id": "s1000000-0000-0000-0000-000000000006",
      "name": "Note — Phase 5 FINISH"
    }
  ],
  "connections": {
    "Cron 05:00 MSK": {
      "main": [[{ "node": "Execute GetConfig", "type": "main", "index": 0 }]]
    },
    "Execute GetConfig": {
      "main": [[{ "node": "Execute InitTables", "type": "main", "index": 0 }]]
    },
    "Execute InitTables": {
      "main": [[{ "node": "Restore Config Context", "type": "main", "index": 0 }]]
    },
    "Restore Config Context": {
      "main": [[{ "node": "Execute LoadMappings", "type": "main", "index": 0 }]]
    },
    "Execute LoadMappings": {
      "main": [[{ "node": "Get Processed Agents", "type": "main", "index": 0 }]]
    },
    "Get Processed Agents": {
      "main": [[{ "node": "Continue Phase 2", "type": "main", "index": 0 }]]
    },
    "Continue Phase 2": {
      "main": [[{ "node": "Extract Support Skills", "type": "main", "index": 0 }]]
    },
    "Extract Support Skills": {
      "main": [[{ "node": "Build WF1 Query", "type": "main", "index": 0 }]]
    },
    "Build WF1 Query": {
      "main": [[{ "node": "Get Agents D+1", "type": "main", "index": 0 }]]
    },
    "Get Agents D+1": {
      "main": [[{ "node": "Filter New Agents", "type": "main", "index": 0 }]]
    },
    "Filter New Agents": {
      "main": [[{ "node": "Process Each Agent", "type": "main", "index": 0 }]]
    },
    "Process Each Agent": {
      "main": [
        [{ "node": "Auth WFMS", "type": "main", "index": 0 }],
        [{ "node": "Determine Container Rules", "type": "main", "index": 0 }]
      ]
    },
    "Determine Container Rules": {
      "main": [[{ "node": "Calculate News Duration", "type": "main", "index": 0 }]]
    },
    "Calculate News Duration": {
      "main": [[{ "node": "Find Missing Activities", "type": "main", "index": 0 }]]
    },
    "Find Missing Activities": {
      "main": [[{ "node": "Calculate Slots", "type": "main", "index": 0 }]]
    },
    "Calculate Slots": {
      "main": [[{ "node": "BE2/BE3 Check", "type": "main", "index": 0 }]]
    },
    "BE2/BE3 Check": {
      "main": [
        [{ "node": "Write Transaction", "type": "main", "index": 0 }],
        [{ "node": "Add to Batch", "type": "main", "index": 0 }]
      ]
    },
    "Add to Batch": {
      "main": [[{ "node": "Write Transaction", "type": "main", "index": 0 }]]
    },
    "Write Transaction": {
      "main": [[{ "node": "Process Each Agent", "type": "main", "index": 0 }]]
    },
    "Auth WFMS": {
      "main": [[{ "node": "Upload Batch to WFMS", "type": "main", "index": 0 }]]
    },
    "Upload Batch to WFMS": {
      "main": [[{ "node": "Publish + Recalc FTE", "type": "main", "index": 0 }]]
    },
    "Publish + Recalc FTE": {
      "main": [[{ "node": "Write Upload Status", "type": "main", "index": 0 }]]
    },
    "Write Upload Status": {
      "main": [[{ "node": "Send MM Notification", "type": "main", "index": 0 }]]
    },
    "Send MM Notification": {
      "main": [[{ "node": "Trigger WF-2", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": {
      "__rl": true,
      "value": "ErrorHandler",
      "mode": "name"
    }
  },
  "pinData": {}
}
