workflows/BreaksRecovery_LoadMappings.json
{
  "name": "BreaksRecovery_LoadMappings",
  "nodes": [
    {
      "parameters": {},
      "id": "baad3dec-df05-4a48-83b0-a1895df53ced",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst base = config.GitRawBaseURL;\nconst branch = config.GitBranch || 'test';\nconst path = config.MappingsPath || 'BreaksRecovery/Mapping';\n\nif (!base) {\n  throw new Error(\n    'System Error: GitRawBaseURL не задан. TDR v3 §6.5: маппинги загружаются из git. Укажите URL raw-файлов в GetConfig.',\n  );\n}\n\nconst baseUrl = String(base).replace(/\\/$/, '');\nconst isStash =\n  /stash\\.|\\/projects\\/[^/]+\\/repos\\//i.test(baseUrl) &&\n  !baseUrl.includes('raw.githubusercontent.com');\n\nconst files = [\n  'activity',\n  'container',\n  'news_reading',\n  'news_exception_skills',\n  'fte_groups',\n  'email_fallback',\n  'fte_thresholds',\n  'runtime',\n];\n\nfunction buildMappingUrl(file) {\n  if (isStash) {\n    const at = branch.startsWith('refs/') ? branch : `refs/heads/${branch}`;\n    return `${baseUrl}/${path}/${file}.json?at=${encodeURIComponent(at)}`;\n  }\n  return `${baseUrl}/${branch}/${path}/${file}.json`;\n}\n\nreturn files.map((file) => ({\n  json: {\n    mapping_file: file,\n    url: buildMappingUrl(file),\n  },\n}));"
      },
      "id": "eb8b3881-d825-438f-9321-371c51d05d6c",
      "name": "Build Mapping URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "notes": "Каждый item: mapping_file + url. Контекст GetConfig — из Start в Assemble."
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "938941ec-8cb1-45c3-9a9e-1c734059682e",
      "name": "Fetch JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "4tOHP8tUEO6HyjEa",
          "name": "Stash"
        }
      },
      "notes": "Stash: Basic Auth по имени credential (при импорте выбрать в UI). Response Format = Text."
    },
    {
      "parameters": {
        "jsCode": "const config = $('Start').first().json;\nif (!config?.GitRawBaseURL) {\n  throw new Error(\n    'System Error: LoadMappings — нет GetConfig на входе Start. Запускайте из Main.',\n  );\n}\n\nconst fetchItems = $input.all();\nif (fetchItems.length === 0) {\n  throw new Error('System Error: LoadMappings — Fetch JSON не вернул данных.');\n}\n\nconst buildItems = $('Build Mapping URLs').all();\nif (buildItems.length !== fetchItems.length) {\n  throw new Error(\n    `System Error: LoadMappings — несовпадение items: Build=${buildItems.length}, Fetch=${fetchItems.length}.`,\n  );\n}\n\nfunction parseBody(raw) {\n  if (raw?.mapping_body !== undefined) return raw.mapping_body;\n  const text =\n    typeof raw === 'string'\n      ? raw\n      : typeof raw?.data === 'string'\n        ? raw.data\n        : typeof raw?.body === 'string'\n          ? raw.body\n          : null;\n  if (text) return JSON.parse(text);\n  if (Array.isArray(raw) || (raw && typeof raw === 'object' && !raw.url && !raw.mapping_file)) {\n    return raw;\n  }\n  return undefined;\n}\n\nfunction resolveMappingFile(item, index) {\n  if (item.json.mapping_file) return item.json.mapping_file;\n  const paired = item.pairedItem;\n  const pairedIndex =\n    typeof paired?.item === 'number'\n      ? paired.item\n      : Array.isArray(paired) && typeof paired[0]?.item === 'number'\n        ? paired[0].item\n        : index;\n  return buildItems[pairedIndex]?.json?.mapping_file || buildItems[index]?.json?.mapping_file;\n}\n\nconst mappings = {};\nfor (let i = 0; i < fetchItems.length; i++) {\n  const item = fetchItems[i];\n  const file = resolveMappingFile(item, i);\n  const body = parseBody(item.json);\n  if (!file || body === undefined || body === null) {\n    throw new Error(`System Error: LoadMappings — пустой ответ для ${file || `#${i}`}.json`);\n  }\n  mappings[file] = body;\n}\n\nreturn [\n  {\n    json: {\n      ...config,\n      mappings,\n      mappings_loaded_at: new Date().toISOString(),\n    },\n  },\n];"
      },
      "id": "6765d39e-84ec-479c-9d0d-152a910fd728",
      "name": "Assemble Mappings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Build Mapping URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mapping URLs": {
      "main": [
        [
          {
            "node": "Fetch JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch JSON": {
      "main": [
        [
          {
            "node": "Assemble Mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a0423e7-a946-4b40-8db6-8b3d17bfdeeb",
  "meta": {
    "instanceId": "c405c9c7bf2ec4f35dcb9179c9810707580e82751735da064523f04a0f1dd025"
  },
  "id": "KwxEdf6m784CyO6z",
  "tags": []
}