workflows/BreaksRecovery_2.GetConfig.json
{
  "name": "BreaksRecovery_2.GetConfig",
  "nodes": [
    {
      "parameters": {},
      "id": "618a9026-44e0-4377-8125-ab8a60053fdd",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"robotName\": \"BreaksRecovery\",\n  \"environment\": \"non-prod\",\n  \"DBSchemaName\": \"n8n_breaks_recovery\",\n  \"DBTableNameAgents\": \"agents\",\n  \"DBTableNameRecoveryTransactions\": \"recovery_transactions\",\n  \"DBTableNameBalanceTransactions\": \"balance_transactions\",\n  \"DBTableNameBalanceMoves\": \"breaks_balance_moves\",\n  \"WFMDBSchema\": \"public\",\n  \"WFMSBaseURL\": \"https://wfms.avito.ru\",\n  \"MattermostAPIURL\": \"https://mt.avito.ru/api/v4/\",\n  \"Mattermost1CChannelBaseURL\": \"http://1c-api.avito.lan/rpa_1c/hs/mattermost/send/message/channel\",\n  \"MMCBotAlertChannel\": \"RPA_BN_BreaksRecovery\",\n  \"MMCBotProdNotificationsChannel\": \"RPA_Robot_Prod_Notifications\",\n  \"DataRetentionMonthsTransactions\": 12,\n  \"DataRetentionMonthsPII\": 6,\n  \"GitRawBaseURL\": \"https://stash.msk.avito.ru/projects/RPA/repos/configuration/raw\",\n  \"GitBranch\": \"test\",\n  \"MappingsPath\": \"BreaksRecovery/Mapping\",\n  \"BatchSizeMaxAgents\": 200,\n  \"BatchSizeMaxBytes\": 262144\n}",
        "options": {}
      },
      "id": "36eb98e6-670b-42d9-aee9-55104342a0d4",
      "name": "Config — JSON шаблон",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "notes": "ADR-004: дефолтный конфиг. Позже HTTP Request к Git перетрёт значения.\nИсточник: workflows/config/breaks-recovery.config.json"
    },
    {
      "parameters": {
        "jsCode": "const REQUIRED_STRING_FIELDS = [\n  'robotName',\n  'environment',\n  'DBSchemaName',\n  'DBTableNameAgents',\n  'DBTableNameRecoveryTransactions',\n  'DBTableNameBalanceTransactions',\n  'DBTableNameBalanceMoves',\n  'WFMDBSchema',\n  'WFMSBaseURL',\n  'MattermostAPIURL',\n  'Mattermost1CChannelBaseURL',\n  'MMCBotAlertChannel',\n  'MMCBotProdNotificationsChannel',\n  'GitBranch',\n  'MappingsPath',\n  'GitRawBaseURL',\n];\n\nconst REQUIRED_NUMBER_FIELDS = [\n  'DataRetentionMonthsTransactions',\n  'DataRetentionMonthsPII',\n  'BatchSizeMaxAgents',\n  'BatchSizeMaxBytes',\n];\n\nconst item = $input.first().json;\nconst missing = [];\n\nfor (const field of REQUIRED_STRING_FIELDS) {\n  const value = item[field];\n  if (value === undefined || value === null || String(value).trim() === '') {\n    missing.push(field);\n  }\n}\n\nfor (const field of REQUIRED_NUMBER_FIELDS) {\n  const value = item[field];\n  if (value === undefined || value === null || Number.isNaN(Number(value))) {\n    missing.push(field);\n  }\n}\n\nif (missing.length > 0) {\n  throw new Error(`System Error: Config validation failed. Missing fields: ${missing.join(', ')}`);\n}\n\nreturn [{ json: item }];"
      },
      "id": "d5540ce9-3ece-492d-8beb-4839166c1f8e",
      "name": "Validate Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "notes": "TDR §7 / ADR-004: проверка обязательных полей. При провале — force throw → ErrorHandler."
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Config — JSON шаблон",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config — JSON шаблон": {
      "main": [
        [
          {
            "node": "Validate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1977ea3-260c-4d13-ac10-c69c26e1d734",
  "meta": {
    "instanceId": "c405c9c7bf2ec4f35dcb9179c9810707580e82751735da064523f04a0f1dd025"
  },
  "id": "lfDAKthcbXeSwPSX",
  "tags": []
}